<div class="card">
  <div class="card-body row">
    <div class="col-4">
      <img class="card-img-top" src="{{user.image}}" alt="Card image cap">
    </div>
    <div class="col-8">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">{{user.email}}</p>
      {{#ifCond user.id UserId}}
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
      {{/ifCond}}
    </div>
  </div>
</div>